PUBLIC_GRAPHQL_URL=http://localhost:8080/api/gql
PUBLIC_API_ROOT_HOST=localhost:8080/api
PUBLIC_API_ROOT_SCHEME=http://
PUBLIC_STRIPE_KEY=pk_test_51MXxsQGPfGXeh5wDWJ5W5zxCabNybS5lmQxFZxi7As0DCToKqIIJx7Cb3FGI5cSzbsojCFV3LLrBLlGVV2pOo74N00JGEFUfsI
SECRET_STRIPE_KEY=sk_test_<get_from_stripe_console>
